apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./base/ip-base.yaml

namespace: network

helmCharts:
- repo: https://helm.cilium.io
  name: cilium
  version: 1.18.5
  includeCRDs: true
  releaseName: cilium
  valuesFile: values.yaml
