policy: sync
registry: noop
interval: 15s

sources:
  - service
  - ingress
  - crd

provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/muhlba91/external-dns-provider-adguard
      tag: v11.0.1@sha256:632b994809f0f906ab4414b337b15ac4d0f5515f7a5de8bfbb5da29ccb6526ee
    env:
    - name: ADGUARD_URL
      value: http://192.168.178.147
    - name: ADGUARD_USER
      valueFrom:
        secretKeyRef:
          name: external-dns-adguard-home
          key: username
    - name: ADGUARD_PASSWORD
      valueFrom:
        secretKeyRef:
          name: external-dns-adguard-home
          key: password
