apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ops

helmCharts:
- name: argo-cd
  version: 9.2.4
  releaseName: argocd
  repo: https://argoproj.github.io/argo-helm
  valuesFile: values.yaml
  namespace: ops
  apiVersions:
    - monitoring.coreos.com/v1
